<h3 i18n> Comparación de precios</h3>

<!-- Cartel para sucursales sin precios -->
<div *ngIf="noPriceBranches.length" class="alert alert-danger" role="alert">
  <p i18n>Las siguientes sucursales de la localidad seleccionada no tienen precios actualizados:</p>
  <ul>
    <li *ngFor="let branch of noPriceBranches">
      {{ branch.superName }}
    </li>
  </ul>
</div>

<ng-container *ngIf="hasComparedData">
<!-- Referencia de colores -->
<div class="color-reference mb-3">
  <div class="d-flex align-items-center">
    <span class="cheapestWProducts me-2"></span>
    <span i18n>Precio más barato con mayor disponibilidad de productos.</span>
  </div>
</div>

<table class="table table-bordered table-hover align-middle comparing-table">
    <!-- Encabezado de sucursales -->
    <thead class="table-light">
      <tr>
        <!-- Celda única para "Producto" en el encabezado -->
        <th class="product-col"  colspan="1" i18n>Producto</th>
        <ng-container *ngFor="let total of comparedData?.totals">           
          <th class="text-center" *ngIf="shouldShowColumn(total['superName'])" [ngClass]="{'highlight-column': total.cheapestWProducts}">
            <a (click)="openModal(total.superId)">
              {{ total.superName }}
            </a>
          </th>
        </ng-container>
      </tr>
    </thead>
  
    <!-- Cuerpo de la tabla: Productos y precios por sucursal -->
    <tbody>
      <tr *ngFor="let product of comparedData?.products">
        <!-- Celda de producto con imagen y detalles -->
        <td class="d-flex align-items-center product-info">
          <img [src]="product.image ? getImageUrl(product.image) : 'ruta/imagen/default.jpg'" i18n-alt alt="Imagen de {{ product.productName }}" class="product-img me-2" />
          <div>
            <div class="fw-bold">{{ product.productName }} - {{ product.brandName }}</div>
            <small class="text-muted" i18n>Código: {{ product.barcode }}</small>
          </div>
        </td>
  
        <!-- Precios por sucursal -->
        <ng-container *ngFor="let price of product.prices">
          <td *ngIf="shouldShowColumn(price.superName)" class="text-center">
            <span *ngIf="price.price !== null && price.price !== undefined; else noPrice" 
                  [ngClass]="{'cheapest': price.cheapest}" i18n>
              {{ price.price | currency:'ARS' }}
            </span>
            <ng-template #noPrice>
              <span class="text-danger" i18n>No disponible</span>
            </ng-template>
          </td>
        </ng-container>
    </tbody>
  
    <tfoot>
      <tr>
        <td class="text-end fw-bold" i18n>Total</td>
        <ng-container *ngFor="let total of comparedData?.totals">
          <td *ngIf="shouldShowColumn(total.superName)" class="text-center" [ngClass]="{'cheapestWProducts': total.cheapestWProducts}">
            <span i18n>
              {{ total.totalPrices | currency:'ARS' }}
            </span>
          </td>
        </ng-container>
      </tr>
    </tfoot>
  </table>

</ng-container>