.branch-card {
  flex: 0 1 calc(22% - 20px);
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.branch-card:hover {
  transform: scale(1.05);
}

.branch-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.branch-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.branch-schedule ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.branch-map {
  border-radius: 8px;
  overflow: hidden;
}