<div class="branch-card">
    <div class="branch-info">
      <h3>{{ branch.branchName }}</h3>
      <p i18n>Dirección: {{ branch.address }}</p>
      <p i18n>Teléfono: {{ branch.phone }}</p>
      <div class="branch-schedule">
        <h4 i18n>Horarios:</h4>
        <ul>
          <li *ngFor="let horario of groupedHorariosList">{{ horario }}</li>
        </ul>
      </div>
      <p i18n>Servicios: {{ branch.branchServices }}</p>

      <div class="branch-map">
        <iframe
          [src]="sanitizer.bypassSecurityTrustResourceUrl('https://maps.google.com/maps?q=' + branch.latitude + ',' + branch.longitude + '&z=15&output=embed')"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>