.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 30px;
    justify-content: center;
  }

h3 {
    text-align: center;
    margin: 20px 0; 
}
.no-products-message {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #888;
}