#sidebar-wrapper {
  min-height: 100vh;
  margin-right: -27rem; // Posición inicial (oculto)
  transition: margin 0.25s ease-out;
  background-color: #1c5a97;
  transform: translateY(50px);

  &.active {
    margin-right: 0;
    padding: 1rem;
    transform: translateY(35px);
  }

  .sidebar-heading {
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #1c5a97;
  }

  .list-group {
    width: 17rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
      font-weight: bold;
    }

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      flex-grow: 1;
    }

    button {
      border: none;
      background-color: transparent;
      color: #dc3545;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: #c82333;
      }
    }
  }

  .text-center {
    padding: 1rem;
  }

  button.btn-primary {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
