.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px;
    justify-content: center;
  }
  h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
  }