<div class="d-flex">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar a la izquierda -->
    <app-sidebar [(active)]="activeSideBar" (selectionChanged)="onSelectionChange($event)"></app-sidebar>
    <div id="page-content-wrapper">
      <!-- Navbar con botones para la sidebar y el dropdown -->
      <nav class="navbar navbar-light bg-light border-bottom d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <!-- Botón para mostrar/ocultar la sidebar -->
          <button class="navbar-toggler" type="button" aria-label="Opciones" (click)="toggleSideBar()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Logo del INDEC -->
          <img src="https://www.indec.gob.ar/Images_WEBINDEC/Logo/Logo_Indec.png" alt="Logo INDEC" class="indec-logo">
        </div>
        
        <h1 class="navbar-title">Comparador de Precios</h1>
        
        <!-- Botón para mostrar/ocultar el dropdown -->
        <button class="navbar-toggler" type="button" aria-label="Opciones" (click)="toggleDropDown()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <app-product-dropdown *ngIf="activeDropDown" [(active)]="activeDropDown"></app-product-dropdown>
      </nav>

      <!-- Parte dinámica -->
      <div class="content">
        <app-product-list [products]="products" [hasSelection]="hasSelection"></app-product-list>
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
