<div class="product-card">
  <div class="product-image">
    <img [src]="getImageUrl(product.productImage ?? '')" i18n-alt alt="{{ product.productName }}">
  </div>
  <div class="product-info">
    <h3>{{ product.productName }}</h3>
    <p *ngIf="product.productDesc">{{ product.productDesc }}</p>
    <p i18n>Marca: {{ product.productBrandName }}</p>
  </div>
  <div class="product-actions">
    <button 
      class="btn btn-primary" 
      [disabled]="cartService.isInCart(product.productId)" 
      [ngClass]="{'btn-disabled': cartService.isInCart(product.productId)}" 
      (click)="addToCart()">
    <ng-container *ngIf="cartService.isInCart(product.productId); else addToCartText" i18n>Ya en el carrito</ng-container>
    <ng-template #addToCartText i18n>Agregar al carrito</ng-template>
  </button>
  </div>
</div>