<div class="d-flex">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar a la izquierda -->
    <app-sidebar [(active)]="activeSideBar" (selectionChanged)="onSelectionChange($event)"></app-sidebar>
    <div id="page-content-wrapper">
      <!-- Navbar con botones para la sidebar y el dropdown -->
      <nav class="navbar navbar-light bg-light border-bottom d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <!-- Botón para mostrar/ocultar la sidebar -->
          <button class="navbar-toggler" type="button" aria-label="Opciones" (click)="toggleSideBar()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Logo del INDEC -->
          <img src="https://www.indec.gob.ar/Images_WEBINDEC/Logo/Logo_Indec.png" alt="Logo INDEC" class="indec-logo">
        </div>
        
        <h1 class="navbar-title">Comparador de Precios</h1>
        
        <!-- Botón para mostrar/ocultar el dropdown -->
        <button class="navbar-toggler" type="button" aria-label="Opciones" (click)="toggleDropDown()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="product-list">
        <app-product *ngFor="let product of products" [product]="product"></app-product>
      </div>

      <!-- Mensaje opcional para cuando no hay productos o no hay selección -->
      <div *ngIf="!hasSelection">
        <p>Por favor selecciona una categoría para ver los productos.</p>
      </div>
      <div *ngIf="hasSelection && products.length === 0">
        <p>No hay productos disponibles para la selección actual.</p>
      </div>

    </div>
  </div>
</div>
